# Data Extraction and EDA: State Weather Data

In [35]:
import pandas as pd
import pickle
import datetime

import seaborn as sns
import matplotlib.pyplot as plt
import datetime

In [232]:
"""
There's a ton of columns, but after reading some stuff up, it looks like
the "dry bulb" temperature is the temperature that is meaningful.
"""
columns = ["STATION", "DATE", "REPORT_TYPE", "SOURCE", "AWND", "BackupDirection", "BackupDistance", "BackupDistanceUnit", "BackupElements", "BackupElevation", "BackupElevationUnit", "BackupEquipment", "BackupLatitude", "BackupLongitude", "BackupName", "CDSD", "CLDD", "DSNW", "DailyAverageDewPointTemperature", "DailyAverageDryBulbTemperature", "DailyAverageRelativeHumidity", "DailyAverageSeaLevelPressure", "DailyAverageStationPressure", "DailyAverageWetBulbTemperature", "DailyAverageWindSpeed", "DailyCoolingDegreeDays", "DailyDepartureFromNormalAverageTemperature", "DailyHeatingDegreeDays", "DailyMaximumDryBulbTemperature", "DailyMinimumDryBulbTemperature", "DailyPeakWindDirection", "DailyPeakWindSpeed", "DailyPrecipitation", "DailySnowDepth", "DailySnowfall", "DailySustainedWindDirection", "DailySustainedWindSpeed", "DailyWeather", "HDSD", "HTDD", "HeavyFog", "HourlyAltimeterSetting", "HourlyDewPointTemperature", "HourlyDryBulbTemperature", "HourlyPrecipitation", "HourlyPresentWeatherType", "HourlyPressureChange", "HourlyPressureTendency", "HourlyRelativeHumidity", "HourlySeaLevelPressure", "HourlySkyConditions", "HourlyStationPressure", "HourlyVisibility", "HourlyWetBulbTemperature", "HourlyWindDirection", "HourlyWindGustSpeed", "HourlyWindSpeed", "MonthlyAverageRH", "MonthlyDaysWithGT001Precip", "MonthlyDaysWithGT010Precip", "MonthlyDaysWithGT32Temp", "MonthlyDaysWithGT90Temp", "MonthlyDaysWithLT0Temp", "MonthlyDaysWithLT32Temp", "MonthlyDepartureFromNormalAverageTemperature", "MonthlyDepartureFromNormalCoolingDegreeDays", "MonthlyDepartureFromNormalHeatingDegreeDays", "MonthlyDepartureFromNormalMaximumTemperature", "MonthlyDepartureFromNormalMinimumTemperature", "MonthlyDepartureFromNormalPrecipitation", "MonthlyDewpointTemperature", "MonthlyGreatestPrecip", "MonthlyGreatestPrecipDate", "MonthlyGreatestSnowDepth", "MonthlyGreatestSnowDepthDate", "MonthlyGreatestSnowfall", "MonthlyGreatestSnowfallDate", "MonthlyMaxSeaLevelPressureValue", "MonthlyMaxSeaLevelPressureValueDate", "MonthlyMaxSeaLevelPressureValueTime", "MonthlyMaximumTemperature", "MonthlyMeanTemperature", "MonthlyMinSeaLevelPressureValue", "MonthlyMinSeaLevelPressureValueDate", "MonthlyMinSeaLevelPressureValueTime", "MonthlyMinimumTemperature", "MonthlySeaLevelPressure", "MonthlyStationPressure", "MonthlyTotalLiquidPrecipitation", "MonthlyTotalSnowfall", "MonthlyWetBulb", "NormalsCoolingDegreeDay", "NormalsHeatingDegreeDay", "REM", "REPORT_TYPE", "SOURCE", "ShortDurationEndDate005", "ShortDurationEndDate010", "ShortDurationEndDate015", "ShortDurationEndDate020", "ShortDurationEndDate030", "ShortDurationEndDate045", "ShortDurationEndDate060", "ShortDurationEndDate080", "ShortDurationEndDate100", "ShortDurationEndDate120", "ShortDurationEndDate150", "ShortDurationEndDate180", "ShortDurationPrecipitationValue005", "ShortDurationPrecipitationValue010", "ShortDurationPrecipitationValue015", "ShortDurationPrecipitationValue020", "ShortDurationPrecipitationValue030", "ShortDurationPrecipitationValue045", "ShortDurationPrecipitationValue060", "ShortDurationPrecipitationValue080", "ShortDurationPrecipitationValue100", "ShortDurationPrecipitationValue120", "ShortDurationPrecipitationValue150", "ShortDurationPrecipitationValue180", "Sunrise", "Sunset", "TStorms", "WindEquipmentChangeDate"]
keep = set(["STATION", "REPORT_TYPE", "SOURCE", "AWND", "DailyAverageDryBulbTemperature", "HourlyDryBulbTemperature"])
columns_to_remove = set(columns_set).difference(keep)

In [233]:
state_data_1 = pd.read_csv("../data/raw_data/state_weather_1.csv")
state_data_2 = pd.read_csv("../data/raw_data/state_weather_2.csv")
state_data_3 = pd.read_csv("../data/raw_data/state_weather_3.csv")

In [272]:
states_weather = pd.concat([state_data_1, state_data_2, state_data_3], axis=0)
states_weather = states_weather.rename(columns={"STATION": "station_id"})
states_weather["date"] = pd.to_datetime(states_weather["DATE"], infer_datetime_format=True)
states_weather = states_weather.drop(columns=columns_to_remove)
states_weather["HourlyDryBulbTemperature"] = pd.to_numeric(
    states_weather["HourlyDryBulbTemperature"], errors="coerce"
)
states_weather = states_weather.dropna(subset=["HourlyDryBulbTemperature"])



display(states_weather)

,station_id,REPORT_TYPE,SOURCE,AWND,DailyAverageDryBulbTemperature,HourlyDryBulbTemperature,REPORT_TYPE.1,SOURCE.1,date
0,72216013869,FM-15,7,NaN,NaN,40.0,FM-15,7,2020-01-01 00:53:00
1,72216013869,FM-15,7,NaN,NaN,39.0,FM-15,7,2020-01-01 01:53:00
2,72216013869,FM-15,7,NaN,NaN,37.0,FM-15,7,2020-01-01 02:53:00
3,72216013869,FM-15,7,NaN,NaN,37.0,FM-15,7,2020-01-01 03:53:00
4,72216013869,FM-15,7,NaN,NaN,36.0,FM-15,7,2020-01-01 04:53:00
...,...,...,...,...,...,...,...,...,...
114525,99999954933,CRN05,I,NaN,NaN,47.0,CRN05,I,2020-05-06 21:40:00
114526,99999954933,CRN05,I,NaN,NaN,47.0,CRN05,I,2020-05-06 21:45:00
114527,99999954933,CRN05,I,NaN,NaN,47.0,CRN05,I,2020-05-06 21:50:00
114528,99999954933,CRN05,I,NaN,NaN,48.0,CRN05,I,2020-05-06 21:55:00
114529,99999954933,CRN05,I,NaN,NaN,49.0,CRN05,I,2020-05-06 22:00:00

In [276]:
"""
Ughhhh. The text file for the station IDs is so inconsistently formatted,
so we can't just read it with a pandas or np and a basic delimiter.

The station metadata is global, but we want to extract 
IDS for all of the US states only.
"""

def extract_station_metadata():
    station_df = []
    station_ids = open("../data/raw_data/station_metadata.txt", "r")

    # state start index
    ss_index = 47
    wban_index = 7
    for i, line in enumerate(station_ids):
        # skip header
        if i == 0:
            continue
        state = line[ss_index: ss_index + 3].strip()
        if state.isspace():
            continue
        else:
            # It's a US state. Start parsing.
            wban_id = line[wban_index: wban_index + 6].strip()
            station_meta = line[0:7].strip()
            # Because why not?
            lattitude = line[57:66].strip()
            longitude = line[65:75].strip()
            elevation = line[74:82].strip()
            station_name = line[13:43].strip()
            station_id = f"{station_meta}{wban_id}"
            try:
                # The weather data has the station ID as an integer. 
                # Data types must match up in the join, so throw out anything that's not
                # castable to an int.
                station_id = int(station_id)
            except:
                continue
            row = {
                "wban_id": int(wban_id),
                "state": state,
                "station_meta": int(station_meta),
                "lattitude": lattitude,
                "longitude": longitude,
                "elevation": elevation,
                "station_name": station_name,
                "station_id": station_id
            }
            station_df.append(row)
    result = pd.DataFrame(station_df)
    return result

station_df = extract_station_metadata()
display(station_df)

,wban_id,state,station_meta,lattitude,longitude,elevation,station_name,station_id
0,99999,,7018,+00.000 +,+000.000 +,+7018.0,WXPOD 7018,701899999
1,99999,,7026,+00.000 +,+000.000 +,+7026.0,WXPOD 7026,702699999
2,99999,,7070,+00.000 +,+000.000 +,+7070.0,WXPOD 7070,707099999
3,99999,,8260,+00.000 +,+000.000 +,+0000.0,WXPOD8270,826099999
4,99999,,8268,+32.950 +,+065.567 +,+1156.7,WXPOD8278,826899999
...,...,...,...,...,...,...,...,...
29703,96405,AK,999999,+60.473 -,-145.354 +,+0025.3,CORDOVA 14 ESE,99999996405
29704,96406,AK,999999,+64.502 -,-154.130 +,+0078.9,RUBY 44 ESE,99999996406
29705,96407,AK,999999,+66.562 -,-159.004 +,+0006.7,SELAWIK 28 E,99999996407
29706,96408,AK,999999,+63.452 -,-150.875 +,+0678.2,DENALI 27 N,99999996408
29707,96409,AK,999999,+68.648 -,-149.399 +,+0750.1,TOOLIK LAKE 5 ENE,99999996409

In [285]:
states_df = states_weather.merge(station_df, left_on="station_id", right_on="station_id")

In [286]:
display(states_df)

,station_id,REPORT_TYPE,SOURCE,AWND,DailyAverageDryBulbTemperature,HourlyDryBulbTemperature,REPORT_TYPE.1,SOURCE.1,date,wban_id,state,station_meta,lattitude,longitude,elevation,station_name
0,72216013869,FM-15,7,NaN,NaN,40.0,FM-15,7,2020-01-01 00:53:00,13869,GA,722160,+31.536 -,-084.194 +,+0057.9,SW GEORGIA REGIONAL ARPT
1,72216013869,FM-15,7,NaN,NaN,39.0,FM-15,7,2020-01-01 01:53:00,13869,GA,722160,+31.536 -,-084.194 +,+0057.9,SW GEORGIA REGIONAL ARPT
2,72216013869,FM-15,7,NaN,NaN,37.0,FM-15,7,2020-01-01 02:53:00,13869,GA,722160,+31.536 -,-084.194 +,+0057.9,SW GEORGIA REGIONAL ARPT
3,72216013869,FM-15,7,NaN,NaN,37.0,FM-15,7,2020-01-01 03:53:00,13869,GA,722160,+31.536 -,-084.194 +,+0057.9,SW GEORGIA REGIONAL ARPT
4,72216013869,FM-15,7,NaN,NaN,36.0,FM-15,7,2020-01-01 04:53:00,13869,GA,722160,+31.536 -,-084.194 +,+0057.9,SW GEORGIA REGIONAL ARPT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355309,99999954933,CRN05,I,NaN,NaN,47.0,CRN05,I,2020-05-06 21:40:00,54933,SD,999999,+45.712 -,-099.130 +,+0596.5,ABERDEEN 35 WNW
355310,99999954933,CRN05,I,NaN,NaN,47.0,CRN05,I,2020-05-06 21:45:00,54933,SD,999999,+45.712 -,-099.130 +,+0596.5,ABERDEEN 35 WNW
355311,99999954933,CRN05,I,NaN,NaN,47.0,CRN05,I,2020-05-06 21:50:00,54933,SD,999999,+45.712 -,-099.130 +,+0596.5,ABERDEEN 35 WNW
355312,99999954933,CRN05,I,NaN,NaN,48.0,CRN05,I,2020-05-06 21:55:00,54933,SD,999999,+45.712 -,-099.130 +,+0596.5,ABERDEEN 35 WNW
355313,99999954933,CRN05,I,NaN,NaN,49.0,CRN05,I,2020-05-06 22:00:00,54933,SD,999999,+45.712 -,-099.130 +,+0596.5,ABERDEEN 35 WNW

In [288]:
"""
Now, let's check to be sure there's data for all states. Hopefully we are not missing any!
"""
grouped_states = states_df.groupby(["station_name", "station_id", "state"]).agg(
    {"station_name": "first", "station_id": "first", "state": "first"}
).reset_index(drop=True)
states_list = set(grouped_states["state"].values)

all_states = [
    'AL', 'AK', 'AS', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FL', 'GA', 'GU', 'HI', 
    'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 
    'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'MP', 'OH', 'OK', 'OR', 'PA', 
    'PR', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VI', 'VA', 'WA', 'WV', 'WI', 'WY'
]

missing_states = set(all_states).difference(states_list)
print(missing_states)

{'MP', 'CO', 'GU', 'UT', 'VI', 'CA', 'AZ', 'DC', 'AS', 'PR', 'ID'}

In [294]:
"""
Missing states above. 

There are some errors with the datasets from GOV, marked with a "warning" sign, so
I will re-investigate. Since I had to download these states one-by-one, will investigate after I get an initial weather 
dataset crunched.
"""
cleaned_weather_data = states_df.groupby(["state", states_df["date"].dt.day]).agg({
    "state": "first",
    "date": "first",
    "HourlyDryBulbTemperature": "mean"
}).rename(columns={"HourlyDryBulbTemperature": "average_temperature"}).reset_index(drop=True)

In [295]:
# dump to pickle file
pickle.dump(cleaned_weather_data, open("../data/daily_average_temp_by_state_day.p", "wb" ))